<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = ""
        versionCode = "10"
        version     = "1.1.0">

    <name>CRIJ Haute Normandie</name>

    <description>
        Tablet application of your favorite site
    </description>

    <author href="http://grenade-sparks.com" email="maximes@grenade-sparks.com">
        Grenade and Sparks
    </author>

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <gap:splash src="splashScreensFolder/splashscreen_main-568h@2x.png" />

</widget>

